[color]
	diff = auto
	status = auto
	branch = auto
	interactive = true
[alias]
	ls = ls-files
	lh = !git log --format=oneline --color=always | head
	l = log --format=oneline --graph
	s = status
	ss = submodule
	c = commit
	d = diff
	ds = diff --staged
	dc = diff --check
	cm = commit -m
	au = add -u
	ap = add -p
[pack]
	packSizeLimit = 2g
[diff "astextplain"]
	textconv = astextplain
[rebase]
	autosquash = true
[user]
	name = Nick Shyrokovskiy
	email = nshyrokovskiy@gmail.com
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[core]
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
