[color]
	diff = auto
	status = auto
	branch = auto
	interactive = true
[alias]
	ls = ls-files
	l = !git log --format=oneline --color=always | head
	s = status
	c = commit
	d = diff
	cm = commit -m
[pack]
	packSizeLimit = 2g
[diff "astextplain"]
	textconv = astextplain
[rebase]
	autosquash = true
[user]
	name = Nick Shyrokovskiy
	email = nshyrokovskiy@gmail.com
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[core]
[core]
	excludesfile = ~/.gitignore_global
